asgiref==3.2.10
astroid==2.4.2
chromedriver-py==88.0.4324.27
colorama==0.4.3
Django==3.1.2
isort==5.6.3
lazy-object-proxy==1.4.3
markdown2==2.3.9
mccabe==0.6.1
Pillow==8.0.1
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
python-decouple==3.4
pytz==2020.1
selenium==3.141.0
six==1.15.0
sqlparse==0.4.1
toml==0.10.1
urllib3==1.26.2
wrapt==1.12.1
