body {
    margin:auto;
    width:50%;
    padding-top:10%;
    align-items: center;
}
#navigation {
    background-color: bisque;
    border-radius:15px;
    text-align:center;
}
#title {
    background-color:palevioletred;
    color:darkslateblue;
}
#text {
    background-color:lightseagreen;
}