{% extends 'CYO/layout_adventure.html' %}

{% block body %}
<div id='main_view'>
    <div id='title'>
        <h2>
            {{ adventure.title }}
        </h2>
    </div>
    <div id='text'>Created by: {{ adventure.user }}
        {{ adventure.description }}
        <button onclick="adventure('{{adventure.startevent.id}}')">Start!</button>
    </div>
</div>
<div id='controls'>
    <button id='Item_button' onclick="show('Item')">Inventory</button>
    <button id='Status_button' onclick="show('Status')">Status</button>
</div>
<div id='Status' style='display: none;'>
    <div id='title_stat'>
        <h2>
            Status
        </h2>
        <div id='text_Status'>
        </div>
    </div>
</div>
<div id='Item' style='display: none;'>
    <div id='title_inv'>
        <h2>
            Inventory
        </h2>
        <div id='text_Item'>
        </div>
    </div>
</div>
{% endblock %}"