{% extends 'CYO/layout.html' %}

{% block body %}
<div id=adv_details>
    <h1 id="adventure_title">{{ adventure.title }}</h1>
    Created by: {{ adventure.user }} <br>
    Description:
    <div id = "adventure_description">{{ adventure.description }}</div>
</div>
<br>
<a id=adv_edit href="{% url 'edit' 'adventure' adventure.id %}" id="edit_button">Edit</a> 
<a id=adv_dele href="{% url 'delete' 'adventure' adventure.id %}" id=delete>Delete</a>
<a id=adv_edit href="{% url 'event_create' adventure.id %}">Create event</a>
<a id=adv_edit href="{% url 'item_add' adventure.id %}">Add item</a> <br>
{% for item in adventure.All_Items.all %}
<div id = item>
    <a href="{% url 'edit' 'itemstyle' item.id %}">{{ item.name }}</a>: {{ item.type }} <a href="{% url 'delete' 'itemstyle' item.id %}" id=adv_dele_s>Delete</a>
</div>
{% endfor %}
Events:
{% for event in adventure.Events.all %}
<div id=events>
    <a href="{% url 'ev_edit' event.id %}">{{ event.title }}</a> <a href="{% url 'delete' 'event' event.id %}" id=adv_dele_s>Delete</a>
</div>
{% endfor %}
{% endblock %}