{% extends 'CYO/layout.html' %}

{% block body %}
<a href="{% url 'ad_edit' event.adventure.id %}">Back to adventure edit</a><br>
<h2>{{ event.title }}</h2>
<span>
    {{ event.text}}
</span>
<br>
<span>
    {% for item in event.Items.all %}
        {{ item.itemstyle.name }} ({{item.amount}}), {{ item.itemstyle.type }} <br>
    {% endfor %} 
</span>
<a href="{% url 'item_create' event.id %}">Add item to event</a><br>
{% for choice in event.Start.all %}
    {{ choice.text }} 
    {% if choice.Conditions.all != Null %}: 
        <ul>
            {% for condition in choice.Conditions.all %} 
            <li>{{ condition.itemstyle.name }} ({{ condition.amount }})</li>
            {% endfor %}
        </ul>
    {% endif %}<br>
    <a href="{% url 'condition_create' choice.id %}">Add condition</a>
{% endfor %}
<a href="{% url 'choice_create' event.id %}">Add a choice</a>
{% endblock %}