{% load static %}
<!DOCTYPE html>
<html lang=en>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Choose Your Own{% endblock %}</title>
    <body>
        <nav id=navigation>
            <a href="{% url 'index' %}">Return to the Front Page</a>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
    <script src="{% static 'CYO/adventure.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CYO/style.css' %}">
</html>